/* TOP PART */

/* MAIN PART */
.production{
    padding: 0;
    overflow: auto;
    height: auto;
    
}
.custom-nav{
    text-align:left;
    position: sticky;
    width: 18%;
    display: block;
    text-decoration: none;
    overflow:  auto;
    float: left;
    margin: 1%;
}


.product-nav{
    margin: 0;
}

.product-nav li a{
    padding: 10px;
}
.product-nav a{
    color: rgb(56, 54, 54);
    text-decoration: none;
}
.product-nav li{
    padding: 30px 30%;
    list-style-type: none;
}

.sidebar{
    text-align: center;
    position: fixed;
    background: linear-gradient(135deg,#70F570,#07F7F7);
}

.item-list{
    background-color: rgba(0255,255,255,0.4);
    float: right;
    width: 78%;
    margin: 1%;
    border-radius: 10px;
}


.restricted::after{
    clear: both;
    content: "";
    display: table;
}

.floating{
    background-color: rgb(255,255,255);
    border-radius: 10px;
    float: left;
    width: 23%;
    padding: 1%;
    margin: 1%;
    
}

#contentpesan{
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    border-style: solid;
    
}

#contentpesan table{
    padding:20px
}

#contentpesan td{
    padding: 10px;
    font-size: 30px;
}

/* #contentpesan table td{
    width: 10%;
} */
td a{
    text-decoration: none;
}

td img{
    width: 50%;
}


/* FORM PART */


#honeypot{
    display: none;
}
.modiv-form{
    width: 98%;
    margin: 0 auto;
}

fieldset{
    width: 100%;
    border-style: none;
}

label{
    font-weight: 700;
    text-shadow: 2px 2px 10px rgba(255,255,255,1);
}
textarea,input{
    width: 100%;
}
@media screen and (max-width: 1024px){
    .floating{
        width: 48%;
        padding: 20px;
    }
    #contentpesan td{
        font-size: 20px;
    }
    td img{
        width: 100%;
    }

    .item-list{
        width: 73%;
        margin: 1%;
    }
}

@media screen and (max-width:480px)
{
    .floating{
        width: 98%;
        padding: 5% 20%;
    }

    .product-nav li{
        display: block;
        padding: 20px 10px;
    }

    #contentpesan table{
        padding: 5px
    }
    
    #contentpesan td{
        padding: 0;
        font-size: 10px;
    }
    #contentpesan td{
        font-size: 15px;
    }
    td img{
        width: 100%;
    }

    .custom-nav{
        width: 28%;
    }
    .item-list{
        width: 68%;
        margin: 1%;
    }
}
